/*body {
    
    color: white;
    
  }
nav{
  backgrou
}
  
  /*section{
    background-color:#2f4f4f;
  }*/

  /*#x{
    background-color:white;
    border: 10px solid #2f4f4f;
    
  }

  #sis{
    background-color: #2f4f4f;
  }
  #siss{
    background-color:#2f4f4f;
  }

  #y{
    background-color: white;
    border:10px solid #2f4f4f;
  }
  #swss{
    background-color:#2f4f4f;
  }
  #z{
        background-color: white;
        border:10px solid #2f4f4f;
  }

  #sins{
        background-color:#2f4f4f;
  }
  #a{
        background-color: white;
        border:10px solid #2f4f4f;
  }
  #b{
            background-color: white;
            border:10px solid #2f4f4f;


  }
  #sils{
        background-color:#2f4f4f;

  }


  footer{
    background-color: #2f4f4f;
  }

  */